.main-content {
    position: relative;
    /* background-color: #eee; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpapers.com/images/hd/mtg-alien-7qaav99u6m1xd6gt.jpg);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transform: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    overflow-x: hidden;
}

.main-content .title {
    font-size: 50px;
    font-family: BelweBold;
    color: var(--secondary);
    -webkit-text-stroke: 2.5px var(--primary);
    position: relative;
    left: 80px;
    top: 10px;
}

.main-content .description {
    position: relative;
    left: 80px;
    top: 20px;
    color: white;
    font-weight: normal;
}

.main-content .overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 12%;

}

.main-content .overview a {
    text-decoration: none;
}

.main-content .overview .info-card {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: BelweBold;
    color: var(--secondary);
    -webkit-text-stroke: 2.5px var(--primary);
}

.cards {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cards.jpg);
    border: 8px solid var(--secondary);

}

.decks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/decks.jpg);
    border: 8px solid var(--secondary);
}

.shared {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/shared.jpg);
    border: 8px solid var(--secondary);
}